# Python
venv/
__pycache__/
*.pyc

# Node
node_modules/
dist/

# Data
data/raw/
data/processed/

# Env
.env

# OSRM files
*.osrm*

# Logs
*.log

# Blueprint
Hackathon PS 7 Geospatial Site Readiness.docx
Blueprint.docx
Removed.txt
